<ng-container *ngIf="track">
  <section class="card">
    <app-image  
      *ngIf="track.album.images[0]"     
      class="card__img"
      [iconUrl]="track.album.images[0].url"
      [alt]="'imagen canción'"
    >
    </app-image>

    <div class="card__info">
      <div class="card__info_title">
        <app-text 
        [customStyle]="textStyle"
        >{{ track.name }}
      </app-text
      >
      <app-text
        [customStyle]="textStyle"
      >
        By {{ getNameArtist() }}
      </app-text
      >
      </div>

      <app-icon 
        class="card__icon"
        (click)="addRemoveFavorites(track);"
        [color]="addColorIcon()"
        [url]="'/assets/svg/fav.svg'">
    </app-icon>
    </div>
  </section>
</ng-container>