<section class="section">
  <app-image class="section__logo" [iconUrl]="'/assets/svg/spotify-icon.svg'">
  </app-image>

  <app-title class="section__text" [customStyle]="textTitle">
    Welcome to Spotify
  </app-title>

  <app-button
    (click)="redirectLogIn()"
    class="section__button"
    [customStyle]="buttonStyle"
  >
    <ng-lottie
      *ngIf="canShowConfettiAnimation"
      class="section__button__animation"
      [options]="options"
    >
    </ng-lottie>
    <app-text [customStyle]="textButton"> Login </app-text>
  </app-button>
</section>
