<mat-drawer-container class="navbar" (window:resize)="onResize()">
  <!-- sidebar -->
  <mat-drawer class="navbar__sidebar" #drawer>
    <div class="navbar__sidebar__header">
      <app-image
        class="navbar__sidebar__logo"
        [iconUrl]="'assets/svg/spotify-icon.svg'"
      >
      </app-image>
    </div>

    <div class="navbar__sidebar__menu">
      <app-sidebar-list> </app-sidebar-list>
    </div>
  </mat-drawer>

  <!-- HEADER -->
  <mat-drawer-content class="navbar__drawer">
    <header class="navbar__header">
      <mat-toolbar class="navbar__toolbar">
        <app-image
          aria-label="Mostrar menu de opciones"
          tabindex="0"
          (click)="clickOnLogo()"
          class="navbar__logo"
          [iconUrl]="'assets/svg/spotify-icon.svg'"
        >
        </app-image>

        <ng-lottie class="navbar__toolbar__animation" [options]="options">
        </ng-lottie>
        <!--    links routes desktop-->
        <div class="navbar__user">
          <app-header-data-user class="navbar__user__content">
          </app-header-data-user>
        </div>
      </mat-toolbar>
    </header>

    <!--    show components-->
    <article class="navbar__wrapper">
      <ng-content></ng-content>
    </article>
  </mat-drawer-content>
</mat-drawer-container>
